body {
	padding: 10px;
}

h1 {
	font-family: "Georgia", Serif;
}

p, h2 {
	font-family: Helvetica, Sans-Serif;
}

body {
	background-color: lightblue;
}

.credit {
	font-style: italic
}